@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
}

:root {
    /* --dark-blue: #0A3871;
    --ligth-gray: #495057;
    --medium-gray: rgba(73, 80, 87, 0.05);
    --width-btns: 250px;
    --height-btns: 67px;
    --padding-text: 10px;
    --textarea-heigth: 80vh;
    font-family: 'Inter', sans-serif;
    --ligth-blue: #F3F5FC;
    background-color: #F3F5FC;
    --round-corners: 24px; */

    --primary-color: #D6EFD8;
    --secondary-color: #1A5319;
    --terciary-color: #508D4E;
    --quaternary-color: #508D4E;
    --ligth-gray: #495057;
    --medium-gray: rgba(73, 80, 87, 0.05);
    --width-btns: 250px;
    --height-btns: 67px;
    --padding-text: 10px;
    --textarea-heigth: 80vh;
    font-family: 'Inter', sans-serif;
    --ligth-blue: #F3F5FC;
    background-color: #D6EFD8;
    --round-corners: 24px;
}

body {
    width: 100vw;
    position: relative;
}

header {
    padding: 40px 40px;
    display: flex;
}

header>p {
    display: inline;
    padding-left: 15px;
    font-weight: 600;
    font-size: 32px;
}

.encriptador {
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 1800px;
    min-height: 80vh;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

.contenedor__introducir {
    width: 40%;
    height: var(--textarea-heigth);
    border: 1px solid rgba(73, 80, 87, 0.5);
    border-radius: var(--round-corners);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

textarea {
    resize: none;
    width: 100%;
    height: 90%;
    overflow: auto;
    font-weight: 200;
    font-optical-sizing: auto;
    color: var(--secondary-color);
    font-size: 32px;
    border-radius: var(--round-corners);
    padding: var(--padding-text);
    background-color: var(--primary-color);
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    font-family: 'Inter', sans-serif;
    color: var(--terciary-color);
    font-weight: 200;
}

.contenedor__introducir__lector__caracteres{
    padding: var(--padding-text);
    color: var(--terciary-color);
    font-size: 14px;
    text-align: end;
}

.contenedor__introducir__lector__caracteres_atencion{
    font-weight: 600;
    color: var(--secondary-color);
}

.encriptador__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.encriptador__menu__alerta {
    font-size: 12px;
    width: var(--width-btns);
    color: var(--secodary-color);
    opacity: 0.8;
    text-align: center;
    display: flex;
    gap: 7px;
}

.encriptador__menu__alerta_img{
    width: 20px;
    height: 20px;
}

.contenedor__btns__encriptar,
.contenedor__btns__Restablecer {
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: var(--terciary-color);
    width: var(--width-btns);
    height: var(--height-btns);
    border-radius: var(--round-corners);
}

.contenedor__btns__desencriptar {
    text-decoration: none;
    font-size: 16px;
    color: var(--secondary-color);
    width: var(--width-btns);
    height: var(--height-btns);
    border-radius: var(--round-corners);
    background-color: var(--primary-color);
    border: 3px double var(--terciary-color);
}

.encriptador__contenedor__encriptado {
    background-color: white;
    width: 40%;
    height: var(--textarea-heigth);
    border-radius: 24px;
    padding: var(--padding-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.encriptador__contenedor__encriptado__texto__img {
    width: 50%;
    margin-bottom: 20px;
}


.encriptador__contenedor__encriptado__texto__msg1 {
    font-size: 24px;
    text-align: center;
    font-weight: 800;
}

.encriptador__contenedor__encriptado__texto__msg2 {
    font-size: 16px;
    text-align: center;
    color: var(--secondary-color);
}

.resultado {
    font-size: 24px;
    background-color: white;
    color: var(--terciary-color);
    white-space: initial;
    overflow: auto;
    width: 100%;
    height: 90%;
    border-radius: var(--round-corners);
    padding: var(--padding-text);
}

.encriptador__contenedor__encriptado_btn__copiar {
    width: 100%;
    color: var(--secondary-color);
    font-size: 16px;
    border-radius: var(--round-corners);
    height: var(--height-btns);
    background-color: var(--primary-color);
    border: 3px double var(--secondary-color)
}

footer {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    border: 3px double var(--secondary-color);
}

footer p {
    height: 20px;
}

footer img, footer a{
    width: 30px;
    height: 30px;
}

.contenedor__mensaje__error, .contenedor__mensaje__copiado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: var(--secondary-color);
    color: white;
    padding: var(--padding-text);
    animation-name: aparecer;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.contenedor__mensaje__error{
    width: 100%;
}

.mensaje__copiado {
    font-size: 14px;
}

.mensaje__error {
    width: 90%;
    font-size: 16px;
    text-align: center;
}

.mensaje__borrado {
    display: none;
}

.contenedor__btns__encriptar:hover,
.contenedor__btns__Restablecer:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

.contenedor__btns__desencriptar:hover,
.encriptador__contenedor__encriptado_btn__copiar:hover {
    cursor: pointer;
    color: white;
    background-color: var(--secondary-color);
}

@keyframes aparecer {
    from {
        bottom: -20px;
    }

    to {
        bottom: 0px;
    }
}

@media (max-width: 900px){
    textarea {
        font-size: 24px;
    }

    .encriptador__contenedor__encriptado__texto__img {
        display: none;
    }
}

@media (max-width: 1300px) {
    :root {
        --width-btns: 200px;
        --height-btns: 50px;
    }

    header>p {
        font-size: 24px;
    }

    .encriptador {
        flex-direction: column;
    }

    .contenedor__introducir, .encriptador__contenedor__encriptado {
        width: 100%;
        height: 40vh;
    }

    .encriptador__menu {
        width: 100%;
    }

    .contenedor__btns {
        flex-direction: row;
        padding: 10px 0px 10px 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .encriptador__menu__alerta{
        width: 100%;
    }

    .encriptador__contenedor__encriptado__texto__img{
        width: 35%;
    }

   
}

